.footer {
  .footer-content {
    display: flex;
    padding-block: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "Open Sans" sans-serif;
    color: rgba(128, 128, 128, 0.657);
  }
}
